.App {
  text-align: center;
  display: grid;
  min-height: 100vh;
}

.dialog {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
}

.dialog--open {
  display: grid;
  place-items: center;
  z-index: 10;
}

.dialog__container {
  background-color: var(--color-dialog);
  color: var(--color-text);
  padding: 2rem;
  border-radius: 1rem;
}

.dialog a {
  color: inherit;
}

main[inert] {
  filter: blur(20px);
}

form {
  margin: 2rem;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 0.5em;
}

input {
  display: block;
  margin-bottom: 2rem;
}
