# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.pnp

# testing
coverage

# next.js
.next
out

# production
build
dist

# misc
.DS_Store
*.pem

# debug
error.log
access.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# typescript
*.tsbuildinfo

# IDE
.vscode/

# env files
.env
.env.*

# except .env template files
!.env.template

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes
